/***********************************************/
/* 3col_leftNav.css                             */
/* Use with template 3col_leftNav.html          */
/***********************************************/

/***********************************************/
/* HTML tag styles                             */
/***********************************************/ 

body{
	font-family: Geneva, Arial, Helvetica, sans-serif, "Copperplate Gothic Light";
	color: #333333;
	line-height: 1.166;
	margin: 0px;
	width: 100%;
	float: left;
}

a{
	color: #006699;
	text-decoration: none;
}

a:link{
	color: #006699;
	text-decoration: none;
}

a:visited{
	color: #006699;
	text-decoration: none;
}

a:hover{
	color: #000000;
	text-decoration: underline;
	padding-left: 0%;
}

h1{
 font-family: Verdana,Arial,sans-serif;
 font-size: 120%;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h2{
 font-family: Arial,sans-serif;
 font-size: 114%;
 color: #006699;
 margin: 0px;
 padding: 0px;
}

h3{
	font-family: Arial,sans-serif;
	font-size: 100%;
	color: #334d55;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}

h4{
 font-family: Arial,sans-serif;
 font-size: 100%;
 font-weight: normal;
 color: #333333;
 margin: 0px;
 padding: 0px;
}

h5{
 font-family: Verdana,Arial,sans-serif;
 font-size: 100%;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

ul{
	list-style-type: square;
	padding-bottom: 5px;
}

ul ul{
 list-style-type: disc;
}

ul ul ul{
 list-style-type: none;
}

label{
 font-family: Arial,sans-serif;
 font-size: 100%;
 font-weight: bold;
 color: #334d55;
}


/***********************************************/
/* Layout Divs                                 */
/***********************************************/

#masthead{
	width: 82%;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 18%;
	float: left;
}

#navBar{
	float: left;
	width: 17%;
	margin: 0px;
	padding: 0px;
	background-color: #eeeeee;
}

#headlines{
	float:right;
	width: 25%;
	padding-right: 10px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;
}

#content{
	float: left;
	width: 55%;
	padding-right: 15px;
	padding-left: 5px;
}

/***********************************************/
/* Components                                  */
/***********************************************/

#siteName{
	margin: 0;
	padding-top: 35px;
	padding-right: 0;
}


/************* #globalNav styles **************/

#globalNav{
	color: #cccccc;
	padding-bottom: 25px;
	width: 70%;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #CCC;
}

#globalNav img{
	display: block;
}

#globalNav a {
	font-size: 90%%
	clear: none;
	padding-top: 0;
	padding-right: 4px;
	padding-bottom: 0;
	padding-left: 0;
}

/*************** #pageName styles **************/

#pageName{
	margin: 0px;
	padding: 0px 0px 0px 10px;
	padding-left: 1%;
}

/************* #breadCrumb styles *************/

#breadCrumb{
	font-size: 80%;
	padding: 2px 0px 0 10px;
	padding-left: 23%;
}


/************** .feature styles ***************/

.feature{
	font-size: 80%;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.feature h3{
	padding: 30px 0px 5px 0px;
	text-align: left;
}

.feature img{
	float: right;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-left: 30px;
}


/************** .story styles *****************/

.story{
	clear: both;
	font-size: 80%;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}

.story p{
	padding: 0px 0px 10px 0px;
}


/************* #siteInfo styles ***************/

#siteInfo{
	clear: both;
	border: 1px solid #cccccc;
	font-size: 75%;
	color: #cccccc;
	padding: 10px 10px 10px 10px;
}

#siteInfo img{
	padding: 4px 4px 4px 10px;
	vertical-align: middle;
}


/************* #search styles ***************/

#search{
	padding: 5px 0px 5px 10px;
	border-bottom: 1px solid #cccccc;
	font-size: 90%;
}

#search form{
 margin: 0px;
 padding: 0px;
}

#search label{
	display: block;
	margin: 0px;
	padding: 0px;
}


/*********** #navBar link styles ***********/

#navBar ul a:link, #navBar ul a:visited {
	display: block;
}
#navBar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
#navBar li {border-bottom: 1px solid #EEE;}

/* fix for browsers that don't need the hack */
html>body #navBar li {border-bottom: none;}


/*********** #sectionLinks styles ***********/

#sectionLinks{
	position: relative;
	margin: 0px;
	font-size: 90%;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#sectionLinks h3{
	padding: 10px 0px 2px 10px;
}

#sectionLinks a {
	display: block;
	border-top: 1px solid #cccccc;
	padding: 2px 0px 2px 10px;
}

#sectionLinks a:hover{
	background-color: #dddddd;
}


/*********** .relatedLinks styles ***********/

.relatedLinks{
	position: relative;
	margin: 0px;
	font-size: 90%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}

.relatedLinks h3{
	padding: 10px 0px 2px 0px;
}

.relatedLinks a:link,
.relatedLinks a:visited {
	display: block; 
}

/************** #advert styles **************/

#advert{
	width: 205px;
	padding-top: 0%;
	padding-right: 10%;
	padding-bottom: 0%;
	padding-left: 10%;
}

#advert img{
	display: block;
}


/************** #headlines styles **************/

#headlines{
	margin: 0px;
	font-size: 80%;
	background-color: #eeeeee;
	width: 20%;
	float: right;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 5px;
}

#headlines p{
	padding: 5px 0px 5px 0px;
}
