/***********************************************/
/* global.css                             */
/* Use with template 3col_leftNav.html          */
/* Modified by rog1 111019 						*/
/*     from 3col_leftNav1.css					*/
/***********************************************/

/***********************************************/
/* HTML tag styles                             */
/***********************************************/ 

body{
	font-family: Geneva, Arial, Helvetica, sans-serif, "Copperplate Gothic Light";
	color: #333333;
	line-height: 1.166;
	margin: 0px;
	width: 100%;
	float: left;
}

a{
	color: #006699;
	text-decoration: none;
}

a:link{
	color: #006699;
	text-decoration: none;
}

a:visited{
	color: #006699;
	text-decoration: none;
}

a:hover{
	color: #000000;
	text-decoration: underline;
	padding-left: 0%;
}

h1{
 font-family: Verdana,Arial,sans-serif;
 color: #334d55;
 margin: 0px;
 padding-bottom: 1em;
}

h2{
 font-family: Arial,sans-serif;
 color: #006699;
 margin: 0px;
 padding-bottom: .25em;
}

h3{
	font-family: Arial,sans-serif;
	font-size: 100%;
	color: #334d55;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}

h4{
 font-family: Arial,sans-serif;
 font-size: 100%;
 font-weight: normal;
 color: #333333;
 margin: 0px;
 padding: 0px;
}

h5{
 font-family: Verdana,Arial,sans-serif;
 font-size: 100%;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

ul{
	list-style-type: square;
	padding-bottom: 5px;
}

ul ul{
 list-style-type: disc;
}

ul ul ul{
 list-style-type: none;
}

label{
 font-family: Arial,sans-serif;
 font-size: 100%;
 font-weight: bold;
 color: #334d55;
}




/***********************************************/
/* Layout Divs                                 */
/***********************************************/

#masthead{
	width: 82%;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 18%;
	float: left;
}

#navBar{
	float: left;
	width: 17%;
	margin: 0px;
	padding-left: 5px;
	border: 1px #999;
	background-color: #eeeeee;
}

#mainNav{
	float: left;
	width: 15%;
	margin: 0px;
	border: 1px #999;
	padding: 7px 5px;
	background-color: #eeeeee;
}

/*
#headlines{
	float:right;
	width: 25%;
	padding-right: 10px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;
}
*/

#headlines{
	margin: 0px;
	font-size: 75%;
	background-color: #eeeeee;
	width: 22%;
	float: right;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#content{
	float: left;
	width: 58%;
	padding-right: 15px;
	padding-left: 5px;
}

#left_col{
	float: left;
	width: 15%;
	margin: 0px;
	padding: 0px;
	background-color: #eeeeee;
}

#center_col{
	float: left;
	width: 60%;
	padding-right: 15px;
	padding-left: 5px;
}

#right_col{
	float:right;
	width: 25%;
	padding-right: 10px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;
}

/****** new menu style ******/
ul#mainNav{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 17%;
}

#mainNav a {
	color: #006699;
	font-size: 1.1em;
	text-tranform: uppercase;
	text-align: left;
	text-decoration: none;
	border-bottom: none;
	padding: 7px 5px 7px 30px;
	display: block;
	background-repeat: none;
}

#mainNav a:hover{
	font-weight: bold;
	background:: #B2F511;
}

/****** new menu style ******/
ul#navBar{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 17%;
}

#navBar a {
	color: #006699;
	font-size: 1.1em;
	text-tranform: uppercase;
	text-align: left;
	text-decoration: none;
	border-bottom: none;
	padding: 7px 5px 7px 30px;
	display: block;
	background-repeat: none;
}

#navBar a:hover{
	font-weight: bold;
	background:: #B2F511;
}


/***********************************************/
/* Components                                  */
/***********************************************/

#siteName{
	margin: 0;
	padding-top: 35px;
	padding-right: 0;
}


/************* #globalNav styles **************/

#globalNav{
	color: #cccccc;
	padding-bottom: 25px;
	width: 70%;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #CCC;
}

#globalNav img{
	display: block;
}

#globalNav a {
	font-size: 90%%
	clear: none;
	padding-top: 0;
	padding-right: 4px;
	padding-bottom: 0;
	padding-left: 0;
}

/*************** #pageName styles **************/

#pageName{
	margin: 0px;
	padding: 0px 0px 0px 10px;
	padding-left: 1%;
}

/************* #breadCrumb styles *************/

#breadCrumb{
	font-size: 80%;
	padding: 2px 0px 0 10px;
	padding-left: 23%;
}


/************** .feature styles ***************/

.feature{
	font-size: 80%;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.feature h3{
	padding: 5px 0px 5px 0px;
	text-align: left;
}

.feature img{
	float: right;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-left: 30px;
}


/************** .story styles *****************/

.story{
	clear: both;
	font-size: 80%;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}

.story p{
	padding: 0px 0px 10px 0px;
}


/************* #siteInfo styles ***************/

#siteInfo{
	clear: both;
	border: 1px solid #cccccc;
	font-size: 75%;
	color: #cccccc;
	padding: 10px 10px 10px 10px;
}

#siteInfo img{
	padding: 4px 4px 4px 10px;
	vertical-align: middle;
}


/************* #search styles ***************/

#search{
	padding: 5px 0px 5px 10px;
	border-bottom: 1px solid #cccccc;
	font-size: 90%;
}

#search form{
 margin: 0px;
 padding: 0px;
}

#search label{
	display: block;
	margin: 0px;
	padding: 0px;
}


/*********** #navBar link styles ***********/

#navBar ul a:link, #navBar ul a:visited {
	display: block;
}
#navBar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
#navBar li {border-bottom: 1px solid #EEE;}

/* fix for browsers that don't need the hack */
html>body #navBar li {border-bottom: none;}


body#home a#homeLink, 
body#research a#researchLink,
body#people a#peopleLink,
body#students a#studentsLink,
body#news a#newsLink,
body#resources a#resourcesLink {
	background: #DDD;
	font-weight: bold;
}


/*********** #sectionLinks styles ***********/

#sectionLinks{
	position: relative;
	margin: 0px;
	font-size: 90%;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#sectionLinks h3{
	padding: 10px 0px 2px 10px;
}

#sectionLinks a {
	display: block;
	border-top: 1px solid #cccccc;
	padding: 2px 0px 2px 10px;
}

#sectionLinks a:hover{
	background-color: #dddddd;
}


/*********** .relatedLinks styles ***********/

.relatedLinks{
	position: relative;
	margin: 0px;
	font-size: 90%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}

.relatedLinks h3{
	padding: 10px 0px 2px 0px;
}

.relatedLinks a:link,
.relatedLinks a:visited {
	display: block; 
}

/************** #advert styles **************/

#advert{
	width: 205px;
	padding-top: 0%;
	padding-right: 10%;
	padding-bottom: 0%;
	padding-left: 10%;
}

#advert img{
	display: block;
}


/************** #headlines styles **************/
/*
#headlines{
	margin: 0px;
	font-size: 80%;
	background-color: #eeeeee;
	width: 25%;
	float: right;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 5px;
}
*/

#headlines p{
	padding: 5px 0px 5px 0px;
	font-size: 90%;
}

#headlines h1{
	text-align: center;
	text-transform: capitalize;
	padding-bottom: .5em;
}

#headlines h2{
	text-align: center;
	text-decoration:underline;
	padding-top: .5em;
	padding-bottom: .25em;
}

#headlines h3{
	text-align: center;
	padding-bottom: .15em;
}


/**************Embedded in document*/

.style1 {font-size: 200%}
#Layer1 {
	position:absolute;
	width:20%;
	height:101px;
	z-index:1;
}
.style5 {
	font-size: 15px;
}

#Layer2 {
	position:absolute;
	width:17%;
	height:100px;
	z-index:1;
	clear: none;
}

#Layer3 {
	position:absolute;
	z-index:1;
	left: 1px;
	top: 1px;
}

/*
#Layer3 {
	position:absolute;
	width:17%;
	height:114;
	z-index:1;
	left: 1px;
	top: 1px;
}
*/

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
.style6 {font-size: 100%}
.style7 {font-size: 130%}
*/